Repository DIT112-V21/group-17, pull requests merged in 2021-05, with the labels that each got.

#54 Establish MQTT connection in manual activity to control the car
  .idea/runConfigurations.xml
  android/.idea/compiler.xml
  android/.idea/misc.xml
  android/.idea/runConfigurations.xml
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/android/MainActivity.java
  android/app/src/main/java/com/example/android/ManualActivity.java
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/layout/activity_manual.xml
  android/app/src/main/res/layout/activity_signup.xml
Labels: Android code, HighPriority, Sprint3, Tested, Works

#56 Implement camera
  android/.idea/runConfigurations.xml
  android/app/src/main/java/com/example/android/ManualActivity.java
  android/app/src/main/java/com/example/android/MqttClient.java
  android/app/src/main/res/layout/activity_manual.xml
  android/daemon/6.5/daemon-13696.out.log
  android/daemon/6.5/daemon-14488.out.log
  android/daemon/6.5/daemon-20720.out.log
  android/daemon/6.5/daemon-20792.out.log
  android/daemon/6.5/daemon-23072.out.log
  android/daemon/6.5/daemon-25804.out.log
  android/daemon/6.5/daemon-26396.out.log
  android/daemon/6.5/daemon-26844.out.log
  android/daemon/6.5/daemon-27192.out.log
  android/daemon/6.5/daemon-4124.out.log
  android/daemon/6.5/daemon-8200.out.log
  android/daemon/6.5/registry.bin
  android/daemon/6.5/registry.bin.lock
  android/native/31/windows-amd64/native-platform.dll.lock
  android/native/f6784746aeab05261644944871eae4fe03e0ef1612fff0a4a95f87b438bc6780/windows-amd64-min/native-platform.dll.lock
  android/native/f6784746aeab05261644944871eae4fe03e0ef1612fff0a4a95f87b438bc6780/windows-amd64/native-platform.dll.lock
  arduino/smartcar/smartcar.ino
Labels: Android code, ArduinoCode, IntermediatePriority, Reviewed, Sprint3, Tested, Works

#59 Implement User
  android/app/src/main/java/com/example/android/User.java
Labels: Sprint4

#62 User
  android/app/src/main/java/com/example/android/Mailman.java
  android/app/src/main/java/com/example/android/Receiver.java
Labels: Android, Sprint4, Tested

#67 Notifications
  android/app/src/main/java/com/example/android/Message.java
  android/app/src/main/java/com/example/android/Receiver.java
  android/app/src/main/java/com/example/android/User.java
Labels: Android, Java code, Sprint4

#73 Implement methods to handle notifications in the controller
  android/.idea/compiler.xml
  android/.idea/misc.xml
  android/app/src/main/java/com/example/android/Controller.java
  android/app/src/main/java/com/example/android/Message.java
  android/app/src/main/java/com/example/android/User.java
Labels: Android, HighPriority, Java code, Sprint4

#75 fix IDs generated automatically
  android/app/src/main/java/com/example/android/Controller.java
  android/app/src/main/java/com/example/android/Mailman.java
  android/app/src/main/java/com/example/android/Message.java
  android/app/src/main/java/com/example/android/Receiver.java
  android/app/src/main/java/com/example/android/User.java
Labels: Java code, enhancement

#76 UI fixed and done
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/android/LoginActivity.java
  android/app/src/main/java/com/example/android/MainActivity.java
  android/app/src/main/java/com/example/android/ManualActivity.java
  android/app/src/main/java/com/example/android/ReceiverActivity.java
  android/app/src/main/res/drawable-v24/car.png
  android/app/src/main/res/drawable-v24/download.jpg
  android/app/src/main/res/drawable-v24/gradient_background.xml
  android/app/src/main/res/drawable-v24/ic_baseline_arrow_back_24.xml
  android/app/src/main/res/drawable-v24/ic_baseline_arrow_drop_down_24.xml
  android/app/src/main/res/drawable-v24/ic_baseline_arrow_drop_up_24.xml
  android/app/src/main/res/drawable-v24/ic_baseline_arrow_left_24.xml
  android/app/src/main/res/drawable-v24/ic_baseline_arrow_right_24.xml
  android/app/src/main/res/drawable-v24/layout_bg.xml
  android/app/src/main/res/drawable-v24/logo.png
  android/app/src/main/res/drawable-v24/round_edges.xml
  android/app/src/main/res/drawable/ic_launcher_background.xml
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/activity_manual.xml
  android/app/src/main/res/layout/activity_receiver.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  android/app/src/main/res/values-night/themes.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
Labels: Android, Design, Sprint4, enhancement

#77 Deli rover
  android/app/src/main/java/com/example/android/ManualActivity.java
  android/app/src/main/res/layout/activity_manual.xml
  android/daemon/6.5/registry.bin
  android/daemon/6.5/registry.bin.lock
  arduino/smartcar/smartcar.ino
Labels: ArduinoCode, HighPriority, Sprint4, Tested, Works, enhancement

#78 Delivery
  android/app/src/main/java/com/example/android/Controller.java
  android/app/src/main/java/com/example/android/Delivery.java
Labels: Android, Java code, Sprint4

#86 implement methods to create delivery, messages and display data
  android/.idea/misc.xml
Labels: Android, Java code, Reviewed, Sprint4, Tested, enhancement

#87 Display the list of messages
  android/app/src/main/java/com/example/android/Controller.java
  android/app/src/main/java/com/example/android/User.java
Labels: Android, Java code, Sprint4

#89 Home screen
  android/.idea/misc.xml
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/android/HomeActivity.java
  android/app/src/main/java/com/example/android/LoginActivity.java
  android/app/src/main/java/com/example/android/ManualActivity.java
  android/app/src/main/res/layout/activity_home.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Design, Sprint4, Tested

#94 Receiver list activity UI
  android/.idea/compiler.xml
  android/.idea/misc.xml
  android/.idea/runConfigurations.xml
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/android/Controller.java
  android/app/src/main/java/com/example/android/HomeActivity.java
  android/app/src/main/java/com/example/android/Mailman.java
  android/app/src/main/java/com/example/android/MainActivity.java
  android/app/src/main/java/com/example/android/Receiver.java
  android/app/src/main/java/com/example/android/ReceiverListActivity.java
  android/app/src/main/java/com/example/android/ReceiverListAdapter.java
  android/app/src/main/java/com/example/android/User.java
  android/app/src/main/res/drawable/app_icon_your_company.png
  android/app/src/main/res/drawable/default_background.xml
  android/app/src/main/res/drawable/movie.png
  android/app/src/main/res/layout/activity_home.xml
  android/app/src/main/res/layout/activity_receiver_list.xml
  android/app/src/main/res/layout/adapter_receiver_list_view_layout.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/xml/actions.xml
Labels: Android, Design, Java code, Sprint4, Works

#96 Fix button mention on the xml file
  android/app/src/main/res/layout/activity_home.xml
Labels: Android, Bug, Design, Enhancement, Sprint4, Tested

#97 Add a mailman and verify credentials to login
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/android/Controller.java
  android/app/src/main/java/com/example/android/HomeActivity.java
  android/app/src/main/java/com/example/android/LoginActivity.java
  android/app/src/main/java/com/example/android/MainActivity.java
Labels: Android, Design, Enhancement, Java code, Sprint4

#103 Implement Display the list of messages the logged in mailman received
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/android/Controller.java
  android/app/src/main/java/com/example/android/HomeActivity.java
  android/app/src/main/java/com/example/android/Mailman.java
  android/app/src/main/java/com/example/android/MailmanMessageListActivity.java
  android/app/src/main/java/com/example/android/MailmanMessageListAdapter.java
  android/app/src/main/java/com/example/android/MainActivity.java
  android/app/src/main/java/com/example/android/NotifyReceiverAdapter.java
  android/app/src/main/res/layout/activity_home.xml
  android/app/src/main/res/layout/activity_mailman_message_list.xml
  android/app/src/main/res/layout/adapter_mailman_message_list_view_layout.xml
Labels: Android, Design, Java code, Sprint4, To improve, Works

#106 Receiver message list and log out
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/android/Controller.java
  android/app/src/main/java/com/example/android/LoginActivity.java
  android/app/src/main/java/com/example/android/MailmanHomeActivity.java
  android/app/src/main/java/com/example/android/ManualActivity.java
  android/app/src/main/java/com/example/android/Receiver.java
  android/app/src/main/java/com/example/android/ReceiverActivity.java
  android/app/src/main/java/com/example/android/ReceiverHomeActivity.java
  android/app/src/main/java/com/example/android/ReceiverMessageListActivity.java
  android/app/src/main/java/com/example/android/ReceiverMessageListAdapter.java
  android/app/src/main/res/layout/activity_receiver.xml
  android/app/src/main/res/layout/activity_receiver_message_list.xml
  android/app/src/main/res/layout/adapter_receiver_message_list_view_layout.xml
Labels: Android, Bug, Design, Enhancement, HighPriority, Java code, Reviewed, Sprint4, Works

#107 Receiver message list confirmation button
  android/app/src/main/java/com/example/android/Controller.java
  android/app/src/main/java/com/example/android/LoginActivity.java
  android/app/src/main/java/com/example/android/Mailman.java
  android/app/src/main/java/com/example/android/MailmanMessageListAdapter.java
  android/app/src/main/java/com/example/android/MainActivity.java
  android/app/src/main/java/com/example/android/Message.java
  android/app/src/main/java/com/example/android/NotifyReceiverAdapter.java
  android/app/src/main/java/com/example/android/ReceiverMessageListAdapter.java
  android/app/src/main/res/layout/adapter_mailman_message_list_view_layout.xml
  android/app/src/main/res/layout/adapter_receiver_message_list_view_layout.xml
Labels: Android, Design, Enhancement, Fixed, HighPriority, Java code, Sprint4, Tested, To improve, Works

#112 Add Name and Logo for the app
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/ic_launcher-playstore.png
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  android/app/src/main/res/values/ic_launcher_background.xml
  android/daemon/6.5/daemon-10200.out.log
  android/daemon/6.5/daemon-14584.out.log
  android/daemon/6.5/daemon-7784.out.log
  android/daemon/6.5/daemon-7832.out.log
  android/daemon/6.5/daemon-9900.out.log
  android/daemon/6.5/registry.bin
  android/daemon/6.5/registry.bin.lock
  android/native/31/windows-amd64-min/native-platform.dll.lock
Labels: Android, Design, Sprint4

#117 #116 #115 Implement buttons to inform the mailman if the receiver is available to expect a delivery
  android/app/src/main/java/com/example/android/Controller.java
  android/app/src/main/java/com/example/android/LoginActivity.java
  android/app/src/main/java/com/example/android/Mailman.java
  android/app/src/main/java/com/example/android/MailmanMessageListAdapter.java
  android/app/src/main/java/com/example/android/Message.java
  android/app/src/main/java/com/example/android/NotifyReceiverAdapter.java
  android/app/src/main/java/com/example/android/Receiver.java
  android/app/src/main/java/com/example/android/ReceiverMessageListAdapter.java
  android/app/src/main/res/layout/adapter_mailman_message_list_view_layout.xml
  android/app/src/main/res/layout/adapter_notify_receiver_list_view_layout.xml
  android/app/src/main/res/layout/adapter_receiver_list_view_layout.xml
  android/app/src/main/res/layout/adapter_receiver_message_list_view_layout.xml
Labels: Android, BugFix, Design, Enhancement, Java code, Sprint4, Tested

#128 Add icon for username and password
  android/app/src/main/ic_launcher-playstore.png
  android/app/src/main/java/com/example/android/Controller.java
  android/app/src/main/java/com/example/android/MailmanMessageListAdapter.java
  android/app/src/main/res/drawable/ic_baseline_lock_24.xml
  android/app/src/main/res/drawable/ic_baseline_person_24.xml
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/layout/adapter_receiver_message_list_view_layout.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  android/app/src/main/res/values/ic_launcher_background.xml
  android/daemon/6.5/daemon-2316.out.log
  android/daemon/6.5/daemon-3484.out.log
  android/daemon/6.5/daemon-5076.out.log
  android/daemon/6.5/registry.bin
  android/daemon/6.5/registry.bin.lock
Labels: Design, Enhancement, Sprint4

#120 Update app logo README.md
  README.md
Labels: Design, Sprint4

#131 Fix error in Controller.java
  android/app/src/main/java/com/example/android/Controller.java
  android/daemon/6.5/daemon-10012.out.log
  android/daemon/6.5/daemon-1056.out.log
  android/daemon/6.5/daemon-15060.out.log
  android/daemon/6.5/daemon-16224.out.log
  android/daemon/6.5/daemon-2316.out.log
  android/daemon/6.5/daemon-2708.out.log
  android/daemon/6.5/registry.bin
  android/daemon/6.5/registry.bin.lock
Labels: Android, BugFix, Fixed, HighPriority, Java code, Sprint4, Tested, Works

#134 #132 #133 Fix mailman search to send pick up notification
  android/app/src/main/java/com/example/android/Controller.java
  android/app/src/main/java/com/example/android/MailmanMessageListAdapter.java
Labels: Android, BugFix, Enhancement, HighPriority, Java code, Sprint4

#143 Fixes
  android/app/src/main/java/com/example/android/Controller.java
  android/app/src/main/java/com/example/android/MailmanMessageListAdapter.java
  android/app/src/main/java/com/example/android/MainActivity.java
  android/app/src/main/java/com/example/android/Message.java
  android/app/src/main/java/com/example/android/NotifyReceiverAdapter.java
  android/app/src/main/java/com/example/android/ReceiverListAdapter.java
  android/app/src/main/java/com/example/android/ReceiverMessageListAdapter.java
Labels: Android, Enhancement, HighPriority, Sprint4

#138 #135 #137 Fix mailman search
  android/app/src/main/java/com/example/android/Controller.java
  android/app/src/main/java/com/example/android/NotifyReceiverAdapter.java
Labels: Android, BugFix, HighPriority, Java code, Sprint4, Tested

#144 Implement Message dialog popup
  android/app/src/main/java/com/example/android/Controller.java
  android/app/src/main/java/com/example/android/MailmanMessageListActivity.java
  android/app/src/main/java/com/example/android/Message.java
  android/app/src/main/java/com/example/android/MessageDialog.java
  android/app/src/main/java/com/example/android/ReceiverMessageListActivity.java
  android/app/src/main/java/com/example/android/ReceiverMessageListAdapter.java
  android/app/src/main/res/layout/adapter_receiver_message_list_view_layout.xml
Labels: Android, BugFix, Design, HighPriority, Java code, Sprint4, Tested

#164 Refactor and clean up the code #136 #139 #140 #141 #142
  android/app/src/main/java/com/example/android/Controller.java
  android/app/src/main/java/com/example/android/Delivery.java
  android/app/src/main/java/com/example/android/LoginActivity.java
  android/app/src/main/java/com/example/android/Mailman.java
  android/app/src/main/java/com/example/android/Message.java
  android/app/src/main/java/com/example/android/ReceiverMessageListAdapter.java
Labels: Android, BugFix, Documentation, Enhancement, Fixed, HighPriority, Java code, Sprint4

#166 Update README file
  README.md
Labels: Documentation, HighPriority, Sprint4

#168 Update README.md
  README.md
Labels: Documentation

#171 #113 #170 add message time, fix typo in not availabe message, changepackage name
  android/app/build.gradle
  android/app/src/androidTest/java/smart/delirover/app/ExampleInstrumentedTest.java
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/smart/delirover/app/Controller.java
  android/app/src/main/java/smart/delirover/app/LoginActivity.java
  android/app/src/main/java/smart/delirover/app/Mailman.java
  android/app/src/main/java/smart/delirover/app/MailmanHomeActivity.java
  android/app/src/main/java/smart/delirover/app/MailmanMessageListActivity.java
  android/app/src/main/java/smart/delirover/app/MailmanMessageListAdapter.java
  android/app/src/main/java/smart/delirover/app/MainActivity.java
  android/app/src/main/java/smart/delirover/app/ManualActivity.java
  android/app/src/main/java/smart/delirover/app/Message.java
  android/app/src/main/java/smart/delirover/app/MessageDialog.java
  android/app/src/main/java/smart/delirover/app/MqttClient.java
  android/app/src/main/java/smart/delirover/app/NotifyReceiverActivity.java
  android/app/src/main/java/smart/delirover/app/NotifyReceiverAdapter.java
  android/app/src/main/java/smart/delirover/app/Receiver.java
  android/app/src/main/java/smart/delirover/app/ReceiverHomeActivity.java
  android/app/src/main/java/smart/delirover/app/ReceiverListActivity.java
  android/app/src/main/java/smart/delirover/app/ReceiverListAdapter.java
  android/app/src/main/java/smart/delirover/app/ReceiverMessageListActivity.java
  android/app/src/main/java/smart/delirover/app/ReceiverMessageListAdapter.java
  android/app/src/main/java/smart/delirover/app/User.java
  android/app/src/main/res/layout/activity_mailman_message_list.xml
  android/app/src/main/res/layout/activity_notify_receiver.xml
  android/app/src/main/res/layout/activity_receiver_list.xml
  android/app/src/main/res/layout/activity_receiver_message_list.xml
  android/app/src/test/java/smart/delirover/app/ExampleUnitTest.java
Labels: Android, Enhancement, Fixed, IntermediatePriority, Java code, Sprint4

#173 Update README.md
  README.md
Labels: Enhancement
